.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dayofweek {
  font-size: 15pt;
  font-weight: 600;
  text-align: center;
}

.timeofday {
  font-size: 15pt;
  font-weight: 600;
  text-align: right;
}

.timetable-school {
  background-color: darkorange;
  text-align: center;
  font-weight: 600;
}

.timetable-red {
  background-color: #fc8e6d;
  text-align: center;
  font-weight: 600;
}

.timetable-green {
  background-color: aquamarine;
  text-align: center;
  font-weight: 600;
}

.timetable-blue {
  background-color: #a1f59d;
  text-align: center;
  font-weight: 600;
}
